* {
    padding: 0;
    margin: 0;
}
/* ------------------------------------------HEADER------------------------------------ */
header {
    height: 150px;
    background-color: #2F3E46;
    position: fixed;
    width: 100%;
    gap: 40px;
    z-index: 4;
}
nav {
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 150px;
}
.logo {
    background: url('img/logo-v1.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 125px;
    width: 125px;
    border: 3px solid black;
    box-sizing: border-box;
}
.links{
    width: 280px;
    display: flex;
    justify-content: space-between;
}
.links a {
    font-size: 1.5em;
    color: #CAD2C5;
    text-decoration: none;
    letter-spacing: 2px;
}
.links a:hover {
    color: #fff;
}
.links a:active {
    color: #2F3E46;
    font-size: 1.5em;
}
/* -------------------------main----------------------- */
